<% include header %>
<form method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" name="imgfile"/><br />

  <input type="submit" value="上  傳"/>
</form>
<% include footer %>
