*{
  padding: 0;
  margin: 0;
}

.archive {
  list-style: none;
  line-height: 28px;
}

.archive h3 {
  margin: 0.5em 0;
}

.archive time {
  float: left;
  font-size: 14px;
  color: #999999;
  margin-right: 1.2em;
}

.l_head {
  float: left;
  margin-left: -4em;
  box-shadow: 0px 5px 4px #888;
}

.r_head {
  float: right;
  margin-top: -2.5em;
  box-shadow: 0px 1px 4px #888;
}


.wrapper {
	min-width: 200px;
	max-width: 1000px;
	margin: 0 auto;
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.content {
	padding: 0 0 0 150px;
}

.essay {
  background-color: #f2f2f2;
  margin: 10px 0;
  padding: 2px 5px;
}

.edit {
  margin: 3px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #F3F3F3;
  color: #333322;
  font-size: 16px;
}

.edit:hover {
  text-decoration: none;
  background-color: #F00;
  color: #FFFFFF;
  -moz-transition: color .4s linear;
  -webkit-transition: color .4s linear;
}

.prepage a {
  float: left;
  text-decoration: none;
  padding: .5em 1em;
  color: #FF0000;
  font-weight: bold;
}

.nextpage a {
  float: right;
  text-decoration: none;
  padding: .5em 1em;
  color: #FF0000;
  font-weight: bold;
}

.prepage a:hover, .nextpage a:hover {
  text-decoration: none;
  background-color: #FF0000;
  color: #F9F9F9;
  -webkit-transition: color .2s linear;
}

.search {
  border: 0;
  width: 6em;
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}

.tag {
  background-color: #880000;
  border-radius: 3px;
  font-size: 14px;
  color: #FFFFFF;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 8px;
}
.tag:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
  -webkit-transition: color .2s linear;
}

body {
  margin: 2em auto;
  padding: 0 2em;
  font-size: 14px;
  font-family: "Microsoft JhengHei,serif,sans-serif,cursive,fantasy,monospace";
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

p {
  line-height: 24px;
  margin: 1em 0;
}

header {
  width: 850px;
  margin: 0 0 0 150px ;
  float: left;
  padding: 5px 0;
  border-bottom: 1px solid #CCCCCC;
}

nav {
  float: left;
  font-family: "Microsoft JhengHei";
  font-size: 1.1em;
  text-transform: uppercase;
  width: 9em;
  text-align: right;
}

article {
  font-size: 16px;
  padding-top: .5em;
}

article a {
  color: #DD0000;
  text-decoration: none;
}

article a:hover {
  color: #333333;
  text-decoration: underline;
}

input,select,img{vertical-align:middle;}

nav a {
  display: block;
  text-decoration: none;
  padding: 0.7em 1em;
  color: #000000;
}

nav a:hover {
  background-color: #FF0000;
  color: #F9F9F9;
  -moz-transition: color .4s linear;
  -webkit-transition: color .4s linear;
}

.info {
  font-size: 14px;
}
